.sidebar {
  position: fixed;
  left: 0;
  top: 42px;
  bottom: 0;
  width: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: white;
  z-index: 1001;
}
.sidebar_div {
  height: 74px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar_div:hover {
  background-color: rgb(235, 235, 235);
}
.sidebar_div img {
  height: 24px;
  margin-bottom: 6px;
}
.sidebar_div div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
