div{
    margin-bottom: 20px;
}

#divId{
    height: 100px;
    width: 200px;
    background-color: gold;
    border-radius: 6px;
    display: flex;     
    justify-content: center;
}

#p55{
    margin-top: 40px;
    font-size: 20px;
}

.mouseEvent{
    text-align: center;    
    height: 200px;
    width: 200px;
    margin-left: 20px;
    background-color: grey;
    box-shadow:  10px 10px 20px 10px aqua;
}

#pId{
    background-color: gold;
    padding: 20px 20px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px rgb(111, 101, 43);
    transition: 0.2s;
}

#pId:active{    
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 0 0 0 0;
}